<div class="new-form mt-5">
<h1>Create a new category</h1>

<%= simple_form_for @category do |f| %>
<%= f.input :name %>
<%= f.input :photo, as: :file %>
<%= f.submit "Save your category", class: "btn" %>
<% end %>

</div>

<%= button_to "Back to your categories", request.referer || root_path, method: :get, class: "btn btn-secondary" %>
